html {
  background-color: #f3dab3;
  font-size: 12px;
}

@font-face {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat Regular'), url('Montserrat-Regular.woff') format('woff');
  }
  

body {
  margin : 0px;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px; 
  background-color: #f5f5dc; 
}

::-webkit-scrollbar-thumb {
  background-color: #333; 
  border-radius: 5px; 
}

::-webkit-scrollbar-track {
  background-color: #f5f5dc; 
  border-radius: 5px; 
}

#logoIndex {
  & img {
    height: 100px;
  }
}

#main-index {
  max-width: 1100px;
  margin: 50px auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  padding: 30px 0;

  .podcastPage {
    & h1 {
      color: white;
      z-index: 5;
      font-family: "Sail", system-ui;
      font-weight: 600;
      font-style: normal;
      font-size: 2rem;
      text-align: right;
    }
  }
  & #podcastsList {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 250px);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    justify-content: center;

    margin: 20px;
  }

  & .podcast {
    height: 250px;
    width: 250px;
    position: relative;
    border-radius: 30px;

    & p {
      color: white;
      z-index: 5;
      font-family: "Sail", system-ui;
      font-weight: 600;
      font-style: normal;
      font-size: 2rem;
      text-align: right;
    }
    & .titre {
      position: absolute;
      bottom: 50px;
      right: 20px;
    }
    & .prenom {
      position: absolute;
      text-align: center;
      left: 50%;
      bottom: 5px;
      transform: translateX(-50%);
    }
    & img {
      object-fit: cover;
      z-index: 2;

      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
      border-radius: 30px;
    }
    .phantom {
      background-color: #363034;
      z-index: 3;
      opacity: 30%;

      transition: opacity 0.3s ease;

      position: absolute;
      top: 0;
      left: 0;

      border-radius: 30px;
    }
  }
  & #detail {
    margin: 20px;
    & h1 {
      font-family: "Sail", system-ui;
      font-weight: 600;
      font-style: normal;
      font-size: 3rem;
    }
    & p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.5rem;
    }
  }
  & .podcast:hover {
    & .phantom {
      opacity: 100%;
      transition: opacity 0.3s ease;
    }
  }
}

@media (max-width: 830px) {
  #logoIndex {
    & img {
      height: 80px;
      margin: 10px auto;
      display: block;
    }
  }

  #main-index {
    max-width: 90%;
    padding: 20px 20px 100px;

    & #menu {
      padding: 10px 20px;
      border-radius: 20px;
      text-align: center;
    }

    & #podcastsList {
      display: block;
      margin: 20px auto;
    }
  }

  & .podcast {
    width: 80%;
    margin: 0 auto 20px;
    text-align: center;
    padding: 15px;
  }
  .phantom {
    height: 100%;
    width: 100%;
  }
}

#banniere {
  height: 10vh;
  width: 100%;
  background-color: #f3dab3;
  overflow-x: hidden;
}

#fond-img{
  width: 100vw;
  height: auto;
  filter:blur(2px);
}

.logoIndex {
  position: absolute;
  top: 400px;
  left: 800px;
  transform: translate(-50%, -50%); 
  z-index: 1;
  display:flex;
  justify-content: center;  
}


.logoIndex::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 1.5px;
    background-color: black;
    top: -1px; /* Position au-dessus du logo */
}

.logoIndex::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1.5px;
  background-color: black;
  bottom: -1px; /* Position au-dessus du logo */
}



#logoIndex-img {
  max-width: 80%; 
  height: auto; 
  display: block; 
}

#logo {
  & img {
    height: 150px;
    margin: 10px 50px;
  }
}

#menu {
  padding: 20px;
  text-align: center;
  width: 300px;
  font-family: 'Montserrat Regular';
}

h1 {
  font-size: 24px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 8px;
}

select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c5c7c5;
}

#btn {
  color: rgb(255, 255, 255);
}

#paragraphe {
  display : flex;
  justify-content: center;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 20px;
}

#paragraphe p {
  text-align: center;
  font-size: 3rem;
  color: #000000;
}